/* Pooppins fonts  */
body{
    font-family: 'Poppins', sans-serif; 
}

/* Header Costom Css Style */
.bag-light{
    background-color: #264653;
}

.btn-color{
    background-color: #e76f51;
    color: cornsilk;
}
.text-color-h{
    color: #ffffff;
    font-size:48px;
}

.text-color{
    color: #b3bec2;
}

/* main css */

.image img{
    width: 325px;
}

/* clients costom css */

.clients-images img{
    width: 150px;
    height: 150px;
 border-radius: 220px;
}
.client{
color: #e76f51;
}

.icon{
    color: orange;
}

/* Footer Costom Css  */
.footer-bg{
    background-color: #0b0d17;
}