/* Pooppins fonts  */
body{
    font-family: 'Poppins', sans-serif; 
}

.bag-light{
    background-color: #264653;
}

.btn-color{
    background-color: #e76f51;
    color: cornsilk;
}
.text-color-h{
    color: #ffffff;
    font-size:48px;
}

.text-color{
    color: #b3bec2;
}
